[defaults]
inventory = inventory.ini
# Project-local Galaxy collections (see `make setup` / ansible-galaxy -p .ansible/collections)
collections_path = .ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml
nocows = 1
retry_files_enabled = False
local_tmp = .ansible/tmp
remote_tmp = .ansible/tmp

[inventory]
enable_plugins = ini
